
// colors
// #f44f09 orange
// #d13c06 red

// MARGIN
.m-0{
    margin: 0;
}

// PADDING
.pd-3{
    padding: 3px;
}

// FONT WEIGHT
.fw-light{
    font-weight: lighter;
}
.fw-bold{
    font-weight: bold;
}

// text
.ta-center{
    text-align: center;
}


.d-flex{
    display: flex;
}

.ai-center{
    align-items: center;
}


// HEADER, FOOTER
.h-f-backgroud{
    // background-color: #17255b;
    background: linear-gradient(83deg, rgba(49,132,206,1) 0%, rgba(17,64,147,1) 44%, rgba(23,37,91,1) 100%);
}