<app-header></app-header>

<!-- <img src="assets/img/grupal-1.JPG" alt=""> -->

<section class="custom-page ta-center">
    <div style="padding: 40px 150px 30px 150px;">

        <h2 class="m-0 fw-light"> A toda la familia judoka de <span class="fw-bold">Zenryoku</span> </h2>

        <p class="parrafo"> Tenemos el agrado de comunicarles que pronto tendremos página web! <br> Se vienen novedades para el club y todos nuestros queridos socios. <br> ¡Atención a las próximas noticias! </p>

        <img src="assets/img/logo.png" alt="" style="width: 36%;">
    </div>
    
</section>

<app-footer></app-footer>