mat-toolbar{
    height: 85px;
}
.custom-toolbar{
    // background-color: #17255b;
background: linear-gradient(83deg, rgba(23,37,91,1) 0%, rgba(8,22,34,1) 44%, rgba(17,64,147,1) 100%);
}
.logo{
    height: 50px;
}
.nombre-club{
    height: 40px;
}
.logo-container{
    background-color: #ecf0f4;
    border: 3px solid #d13c06;
    border-radius: 8px;
}