mat-toolbar{
    height: 85px;
}

.logo{
    height: 50px;
}
.nombre-club{
    height: 40px;
}
.logo-container{
    width: 197px;
    background-color: #ecf0f4;
    border: 3px solid #000000;
    border-radius: 20px;
}
.logo-container-mob{
    width: 197px;
    background-color: #ecf0f4;
    border: 3px solid #000000;
    border-radius: 20px;
}