/* You can add global styles to this file, and also import other style files */
@import "../src/assets/scss/tools.scss";

html, body { height: 100%; }
@font-face {
    font-family: 'LibreFranklin';
    src: local('LibreFranklin'), url(./assets/fonts/LibreFranklin/LibreFranklin-Regular.ttf) format('truetype');
}

body{
    margin: 0;
    font-family: 'LbreFranklin', Arial, Helvetica, sans-serif;
}

* {
    font-family: 'LbreFranklin', Arial, Helvetica, sans-serif;
}

