/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../src/assets/scss/tools.scss";

@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen'), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'LibreFranklin';
    src: local('LibreFranklin'), url(./assets/fonts/LibreFranklin/LibreFranklin-Regular.ttf) format('truetype');
}

body{
    margin: 0;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

* {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}
