.logo-height{ height: 100px; }
.logo-height-mob{ height: 65px; }

.container-padding{ padding: 20px 60px; }

.container-padding-mob{ padding: 10px 20px; }

.club-name{
    font-size: 24px;
    color: #ecf0f4;
    font-family: 'LibreFranklin', sans-serif;
    font-weight: bold;
}

.club-name-mob{
    color: #ecf0f4;
    font-family: 'LibreFranklin', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.copyright-label{
    margin-left: 10px;
    font-size: 10px;
    color: #ecf0f4;
    font-family: 'LibreFranklin', sans-serif;
}