<footer>
    <div style="padding: 20px 20px; text-align: center;" class="h-f-backgroud">
        <div class="logo-container pd-3 d-flex ai-center" >
            <img src="assets/img/logo.png" alt="" class="logo" style="width: 10%;">
            <img src="assets/img/fejuchile.png" alt="" class="logo" style="width: 5%;">
            <img src="assets/img/ifj.jpg" alt="" class="logo" style="width: 10%;">
            <!-- <img src="assets/img/nombre-club.png" alt="" class="nombre-club"> -->
        </div>
    </div>
</footer>